<%# app/views/photobooths/show.html.erb %>
<div class="container mt-5">
  <div data-controller="typing-effect" class="text-center mb-4">
    <h1 data-typing-effect-target="text" class="display-4 gold">Modèle <%= @photobooth.name %></h1>
    <h3 class="text-light">Découvrez notre photobooth et choisissez votre forfait préféré</h3>
  </div>

  <!-- Section des détails du Photobooth -->
  <div class="card mb-4 shadow-sm custom-card text-align-center">
    <%= image_tag(asset_path(@photobooth.image_url), class: "card-img-top", alt: @photobooth.name) %>
    <div class="card-body">
      <h2 class="card-text"><%= @photobooth.description %></h2>

      <div data-controller='toggle'>
        <button class="btn button mb-3" data-action="click->toggle#fire">+</button>
        <div data-toggle-target='toggableElement' class='d-none'>
          <%= render 'description' %>
        </div>
      </div>

      <p class="text-warning"><%= @photobooth.review %></p>
    </div>
  </div>

  <!-- Section des forfaits -->
  <div class="row">
    <% @packages.each do |p| %>
      <div class="col-md-4">
        <div class="card mb-3 shadow-sm">
          <div class="card-body">
            <h5 class="card-title text-secondary"><%= p.hour %></h5>
            <p class="card-text">
            <p><%= humanized_money_with_symbol(p.price) %></p>

            </p>
            <%= link_to "Choisir ce forfait", new_photobooth_package_booking_path(@photobooth, p),
            class: "btn button" %>

          </div>
        </div>
      </div>
    <% end %>
  </div>

  <!-- Bouton de retour -->
  <div class="text-center mt-4">
    <%= link_to "Retour", root_path, class: "btn btn-outline-light mb-3" %>
  </div>
</div>
