
<div class="container mt-5">

  <!-- Formulaire de réservation -->
  <div class="container mt-5">
  <!-- Titre et description -->
  <div data-controller="typing-effect" class="text-center mb-4">
    <h1  data-typing-effect-target="text" class="text-center gold">Formulaire de résèrvation</h1>
  </div>

  <h3 class=" text-light text-center mb-4">Je résèrve ce photobooth</h3>

<%# app/view/bookings/new.html.erb %>
  <!-- Formulaire de réservation -->
    <div class="card shadow-lg p-4">
      <div>
        <h3><%= @package.hour %> - <%=humanized_money_with_symbol(@package.price)%> - <%= @photobooth.name %></h3>
      </div>
      <div class="card-body">

        <%= simple_form_for [@photobooth, @package, @booking], url: photobooth_package_bookings_path(@photobooth, @package), method: :post, html: { data: { turbo: false } } do |f| %>

        <%# renvoie les options se connecter ou créer un compte si l'utilisateur n'est pas connecté %>
          <% unless user_signed_in? %>
            <div class="mb-3">
              <h5>Créer un compte ou vous connecter :</h5>

              <%# boutons radio connexion/inscription %>
              <div class="form-check">
                <%= radio_button_tag :account_type, "create", checked: true, id: "create_account" %>
                <%= label_tag :account_type_create, "Créer un compte", for: "create_account" %>
              </div>

              <div class="form-check">
                <%= radio_button_tag :account_type, "login", id: "login_account" %>
                <%= label_tag :account_type_login, "Se connecter", for: "login_account" %>
              </div>

              <!-- User email and password inputs -->
              <%= f.fields_for :user do |u| %>
                <%= u.input :email, label: "Adresse email", required: true, input_html: { class: "form-control" } %>
                <%= u.input :password, as: :password, label: "Mot de passe", required: true, input_html: { class: "form-control" } %>
              <% end %>
          
          <% end %>

          <%= render 'booking_fields', f: f %>

          <div class="text-center mt-4">
            <%= f.submit user_signed_in? ? "Réserver" : "réserver", class: "btn button btn-lg px-5" %>
          </div>
        <% end %>


      </div>
    </div>

    <% if flash[:alert] %>
      <div class="alert alert-danger">
        <%= flash[:alert] %>
      </div>
    <% end %>


  <!-- Lien retour -->
  <div class="text-center mt-3">
    <%= link_to 'Retour', photobooth_path(@photobooth), class: "btn btn-outline-light mb-3" %>
  </div>

</div>
</div>
