<%# app/views/bookings/new.html.erb %>

<div class="container mt-5">
  <!-- Titre et description -->
  <div class="text-center mb-4">
    <h1 class="display-5">Réservation</h1>
    <p class="text-muted">Complétez le formulaire pour réserver votre forfait.</p>
  </div>

  <!-- Formulaire de réservation -->
  <div class="card shadow-lg p-4">
    <div class="card-body">
      <%= simple_form_for @booking, url: photobooth_package_bookings_path(@photobooth, @package), method: :post do |f| %>
        <div class="mb-3">
          <%= f.input :address, label: "Adresse de l'événement", placeholder: "Entrez l'adresse", input_html: { class: "form-control" } %>
        </div>

        <div class="row g-3">
          <div class="col-md-6">
            <%= f.input :date, as: :string, input_html: { data: {controller: "datepickr"}}%>
          </div>
          <div class="col-md-6">
            <%= f.input :time, label: "Heure de l'événement", as: :time, input_html: { class: "form-control" } %>
          </div>
        </div>

        <%= f.input :package_id, as: :hidden, value: @package.id %>

        <div class="text-center mt-4">
          <%= f.submit "Réserver ce forfait", class: "btn btn-primary btn-lg px-5" %>
        </div>
      <% end %>
    </div>
  </div>

      <!-- Lien retour -->
      <div class="text-center mt-3">
        <%= link_to 'Retour', photobooth_path(@photobooth), class: "btn btn-secondary" %>
      </div>

    </div>
  </div>
</div>
