<%# app/views/bookings/show.html.erb %>
<div class="container mt-5">

  <div data-controller="typing-effect">
    <h1  data-typing-effect-target="text" class=" d-flex justify-content-center gold display-3"><%= @booking.package.photobooth.name %></h1>
  </div>

  <div class="d-flex">
    <div class="card card-show-booking shadow-lg mx-auto col-md-6" style="max-width: 360px;">
      <div class="card-body text-center">

        <!-- Image du photobooth -->
     <div class="mb-4">
  <% if @booking.package.photobooth.photos.any? %>
    <div id="carousel-<%= @booking.id %>" class="carousel slide" data-bs-ride="carousel">
      <div class="carousel-inner">
        <% @booking.package.photobooth.photos.each_with_index do |photo, index| %>
          <div class="carousel-item <%= 'active' if index == 0 %>">
            <%= image_tag(asset_path(photo.image_url), class: "d-block w-100", alt: "Photobooth Image", style: "max-width: 364px;") %>
          </div>
        <% end %>
      </div>

      <%# Boutons de navigation %>
      <button class="carousel-control-prev" type="button" data-bs-target="#carousel-<%= @booking.id %>" data-bs-slide="prev">
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Previous</span>
      </button>
      <button class="carousel-control-next" type="button" data-bs-target="#carousel-<%= @booking.id %>" data-bs-slide="next">
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Next</span>
      </button>
    </div>
  <% else %>
    <%= image_tag(asset_path(@booking.package.photobooth.photos.first.image_url), alt: "Photobooth Image", class: "card-img-top", style: "max-width: 364px;") %>
  <% end %>
</div>


        <div class='text-start'>
          <p><strong>Adresse :</strong> <%= @booking.address %></p>
          <p><strong>Date de l'événement :</strong> <%= @booking.date.strftime('%d %B %Y') %></p>
          <p><strong>Heure :</strong> <%= @booking.time.strftime('%H:%M') %></p>

          <p><strong>Package :</strong> <%= @booking.package.hour %></p>
          <p><strong>Prix :</strong> <%= humanized_money_with_symbol(@booking.package.price) %></p>
        </div>

        <!-- Formulaire de paiement Stripe -->
        <form action="/payments/create" method="post" class="d-flex mt-4">
          <%= hidden_field_tag :authenticity_token, form_authenticity_token %>
          <input type="hidden" name="package_id" value="<%= @package.id %>">

          <script
            src="https://checkout.stripe.com/checkout.js" class="stripe-button"
            data-key="<%= @stripe_publishable_key %>"
            data-amount="<%= (@package.price * 100).to_i %>"
            data-name="Réservation Photobooth"
            data-description="<%= @package.photobooth.name %>"
            data-currency="eur"
            data-locale="auto"
            data-label="Payer maintenant">
          </script>
        </form>
      </div>
</div>

    <!-- Bouton de chat -->
    <div data-controller="chats-list" style="position: fixed; bottom: 20px; right: 20px; z-index: 1000;">
      <button
      id="open-chat"
      style="border: none; background: none; cursor: pointer;"
      data-action="click->chats-list#toggleChat">
      <img src="<%= asset_path('chat-icon.png') %>" alt="Chat" style="width: 50px; height: 50px;">
      </button>


      <!-- Conteneur pour le chat -->
      <div
        class="chatbot text-light d-none"
        style="position: fixed; bottom: 80px; right: 20px; width: 300px; height: 500px; border-radius: 10px; background-color: rgba(0, 0, 0, 0.95);"
        data-chats-list-target="chatContainer">
        <h5 class="text-center mt-3">Je suis votre assistant virtuelle</h5>
        <div id="questions" style="overflow-y: auto; max-height: 300px; padding: 10px;">
          <%= render partial: "questions/question", collection: @questions %>
        </div>

        <div style="padding: 10px;">
          <%= render "questions/form", question: @question %>
        </div>

      </div>

    </div>

  </div>
</div>
