<%# app/views/chats/_chat.html.erb %>
<%= turbo_frame_tag :chat_details do %>

    <%# <% show_booking ||= false %>

    <%# <% if show_booking %>
      <%# <div class="close-icon d-flex justify-content-end"> %>
        <%# <%= link_to image_tag('fermer.png', alt: 'Fermer', class: 'close-icon', style: "width: 22px;position: absolute;top: 29px;"), '#', class: 'close-chat-btn' %>
      <%# </div> %>
    <%# <% end %>

  <div class="chat">


    <% show_booking ||= false %>

    <% if show_booking == false %>
      <h1>Votre réservation pour <%= @booking.package.photobooth.name %></h1>
    <% end %>

    <%= turbo_stream_from "booking_#{@booking.id}_messages" %>
    <div id="messages" class="messages">

      <% @messages.each do |message| %>
        <%= render "messages/message", message: message, user: current_user %>
    <% end %>

    </div>

      <%= simple_form_for [@booking, @message],
        html: {class: "d-flex",
              data: { controller: "reset-form", action: "turbo:submit-end->reset-form#reset"}} do |f|
      %>
        <% if current_user.admin %>
          <% other_user = @booking.user %>
          <% else %>
          <% other_user = User.find_by(admin: true) %>
        <% end %>
        <%= f.input :content,
          label: false,
          placeholder: "Message #{other_user.email}",
          wrapper_html: {class: "flex-grow-1"}
        %>
          <%= f.submit "Envoyer", class: "btn button mb-3" %>
      <% end %>
    </div>

  <% end %>
