<div class="container mt-4">

  <div data-controller="typing-effect">
    <h1 data-typing-effect-target="text" class="gold  text-center display-3 mb-3">Panier</h1>
  </div>

      <!-- Formulaire de paiement Stripe -->
      <div class="d-flex justify-content-center mb-5">
        <form action="/payments/create" method="post" class="d-flex mt-4">
          <%= hidden_field_tag :authenticity_token, form_authenticity_token %>
          <input type="hidden" name="package_id" value="<%= @package.id %>">

          <script
            src="https://checkout.stripe.com/checkout.js" class="stripe-button"
            data-key="<%= @stripe_publishable_key %>"
            data-amount="<%= (@package.price * 100).to_i %>"
            data-name="Réservation Photobooth"
            data-description="<%= @package.photobooth.name %>"
            data-currency="eur"
            data-locale="auto"
            data-label="Payer maintenant">
          </script>
        </form>
      </div>

  <div class="row">
<% if @bookings.any? %>
  <% @bookings.each do |b| %>
    <div class="col-md-4 mb-3">
      <div class="card">
        <div id="carouselBooking<%= b.id %>" class="carousel slide" data-bs-ride="carousel">
          <!-- Images du photobooth -->
          <div class="carousel-inner">
            <% b.package.photobooth.photos.each_with_index do |photo, index| %>
              <div class="carousel-item <%= 'active' if index == 0 %>">
                <%= image_tag(asset_path(photo.image_url), class: "d-block w-100", alt: "Image #{index + 1}") %>
              </div>
            <% end %>
          </div>
          
          <!-- Contrôles du carousel -->
          <button class="carousel-control-prev" type="button" data-bs-target="#carouselBooking<%= b.id %>" data-bs-slide="prev">
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Précédent</span>
          </button>
          <button class="carousel-control-next" type="button" data-bs-target="#carouselBooking<%= b.id %>" data-bs-slide="next">
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Suivant</span>
          </button>
        </div>

        <div class="card-body">
          <h5 class="card-title"><%= b.package.photobooth.name %> - <%= b.package.hour %> - <%= b.package.price %>€</h5>
          <p class="card-text"><strong>Adresse :</strong> <%= b.address %></p>
          <p class="card-text"><strong>Date :</strong> <%= b.date %></p>
          <p class="card-text"><strong>Heure :</strong> <%= b.time %></p>
          <p class="card-text"><strong>Forfait :</strong> <%= b.package.hour %> - <%= b.package.price %>€</p>
          <p class="card-text"><strong>Payment:</strong> <%= payment_status_label(b.paiement_status) %></p>
          <% if b.paiement_status == "Paid" %>
            <p class="card-text"><strong>Status:</strong> <%= booking_status_label(b.booking_status) %></p>
          <% end %>
        </div>
      </div>
    </div>
  <% end %>
<% end %>



      </div>
  </div>
</div>
