<div class="floating-navbar left">
  <%= link_to root_path, class: "nav-item" do %>
    <%= image_tag(asset_path('asevent_logo.png'), class: "nav-icon") %>
  <% end %>

  <% if user_signed_in? %>
    <%= link_to root_path, class: "nav-item" do %>
      <i class="fas fa-box-open"></i>
    <% end %>

    <%= link_to bookings_path, class: "nav-item" do %>
      <i class="fas fa-chart-line"></i>
    <% end %>

    <%= link_to orders_path, class: "nav-item" do %>
      <%= image_tag("paniers.png", class: "nav-icon") %>
    <% end %>

    <%= link_to "#", class: "nav-item", data: { bs_toggle: "dropdown" } do %>
      <%= image_tag(asset_path('menu.png'), class: "nav-icon") %>
    <% end %>

    <div class="dropdown-menu dropdown-menu-end">
      <%= current_user.email %>
      <%= link_to "Log out", destroy_user_session_path, data: { turbo_method: :delete }, class: "dropdown-item" %>
      <%= link_to "Messages", messages_path, class: "dropdown-item" %>
    </div>
  <% else %>
    <%= link_to root_path, class: "nav-item" do %>
      <i class="fas fa-box-open"></i>
    <% end %>

    <%= link_to new_user_session_path, class: "nav-item" do %>
      <i class="fas fa-sign-in-alt"></i>
    <% end %>
  <% end %>
</div>
